@{
    Layout = "_Layout1";

}

            <!-- CONTAINER OPEN -->
            <div class="col mx-auto text-center">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/assets/images/brand/bi-logo.jpg" class="header-brand-img" alt="">
                </a>
            </div>
            <div class="col-12 container-login100">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <form class="card shadow-none" method="post">
                            <div class="card-body">
                                <div class="text-center">
                                    <span class="login100-form-title">
                                        Forgot Password
                                    </span>
                                </div>
                                <div class="pt-3" id="forgot">
                                    <div class="form-group">
                                        <label class="form-label" for="eMail">E-Mail:</label>
                                        <input class="form-control" id="eMail" placeholder="Enter Your Email" type="email">
                                    </div>
                                    <div class="submit">
                                        <a class="btn btn-primary d-grid" asp-controller="Home" asp-action="Index">Submit</a>
                                    </div>
                                </div>

                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->