<!-- PAGE-HEADER -->
<div class="page-header">
	<div>
		<h1 class="page-title">Profile</h1>
	</div>
	<div class="ms-auto pageheader-btn">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
			<li class="breadcrumb-item active" aria-current="page">Profile</li>
		</ol>
	</div>
</div>
<!-- PAGE-HEADER END -->
<!-- ROW-1 OPEN -->
<div class="row" id="user-profile">
	<div class="col-lg-12">
		<div class="card">
			<div class="border-top">
				<div class="wideget-user-tab">
					<div class="tab-menu-heading">
						<div class="tabs-menu1">
							<ul class="nav">
								<li><a href="#accountSettings" class="active show" data-bs-toggle="tab">Account Settings</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-content">
			<div class="tab-pane active show" id="accountSettings">
				<div class="card">
					<div class="card-body">
						<form class="form-horizontal" data-select2-id="11">
							<div class="mb-4 main-content-label">Account</div>
							<div class="form-group ">
								<div class="row row-sm">
									<div class="col-md-3">
										<label for="userName" class="form-label">User Name</label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" id="userName" placeholder="User Name" value="Elena Gilbert">
									</div>
								</div>
							</div>
							<div class="form-group ">
								<div class="row row-sm">
									<div class="col-md-3">
										<label for="eMail" class="form-label">Email</label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" id="eMail" placeholder="Email" value="info#elenagilbert.in">
									</div>
								</div>
							</div>
							<div class="form-group float-end">
								<div class="row row-sm">
									<div class="col-md-12">
										<a class="btn btn-info my-1" href="#">Change Password</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div><!-- COL-END -->
</div>
