
                <!--APP-SIDEBAR-->
				<div class="sticky">
					<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
					<div class="app-sidebar">
						<div class="main-sidemenu">
							<div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
									fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
									<path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
								</svg>
							</div>
							<ul class="side-menu">
								<li>
									<h3>Menu</h3>
								</li>
								<li class="slide">
									<a class="side-menu__item has-link" data-bs-toggle="slide" asp-controller="Home" asp-action="Index">
										<svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M19.9794922,7.9521484l-6-5.2666016c-1.1339111-0.9902344-2.8250732-0.9902344-3.9589844,0l-6,5.2666016C3.3717041,8.5219116,2.9998169,9.3435669,3,10.2069702V19c0.0018311,1.6561279,1.3438721,2.9981689,3,3h2.5h7c0.0001831,0,0.0003662,0,0.0006104,0H18c1.6561279-0.0018311,2.9981689-1.3438721,3-3v-8.7930298C21.0001831,9.3435669,20.6282959,8.5219116,19.9794922,7.9521484z M15,21H9v-6c0.0014038-1.1040039,0.8959961-1.9985962,2-2h2c1.1040039,0.0014038,1.9985962,0.8959961,2,2V21z M20,19c-0.0014038,1.1040039-0.8959961,1.9985962-2,2h-2v-6c-0.0018311-1.6561279-1.3438721-2.9981689-3-3h-2c-1.6561279,0.0018311-2.9981689,1.3438721-3,3v6H6c-1.1040039-0.0014038-1.9985962-0.8959961-2-2v-8.7930298C3.9997559,9.6313477,4.2478027,9.0836182,4.6806641,8.7041016l6-5.2666016C11.0455933,3.1174927,11.5146484,2.9414673,12,2.9423828c0.4853516-0.0009155,0.9544067,0.1751099,1.3193359,0.4951172l6,5.2665405C19.7521973,9.0835571,20.0002441,9.6313477,20,10.2069702V19z"/></svg>
										<span class="side-menu__label">Dashboard</span>
									</a>
								</li>
								
								<li class="slide">
									<a class="side-menu__item" data-bs-toggle="slide" href="#">
										<svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M21.5,13h-8.0005493C13.2234497,13.0001831,12.9998169,13.223999,13,13.5v8.0005493C13.0001831,21.7765503,13.223999,22.0001831,13.5,22h8.0006104C21.7765503,21.9998169,22.0001831,21.776001,22,21.5v-8.0006104C21.9998169,13.2234497,21.776001,12.9998169,21.5,13z M21,21h-7v-7h7V21z M10.5,2H2.4993896C2.2234497,2.0001831,1.9998169,2.223999,2,2.5v8.0005493C2.0001831,10.7765503,2.223999,11.0001831,2.5,11h8.0006104C10.7765503,10.9998169,11.0001831,10.776001,11,10.5V2.4993896C10.9998169,2.2234497,10.776001,1.9998169,10.5,2z M10,10H3V3h7V10z M10.5,13H2.4993896C2.2234497,13.0001831,1.9998169,13.223999,2,13.5v8.0005493C2.0001831,21.7765503,2.223999,22.0001831,2.5,22h8.0006104C10.7765503,21.9998169,11.0001831,21.776001,11,21.5v-8.0006104C10.9998169,13.2234497,10.776001,12.9998169,10.5,13z M10,21H3v-7h7V21z M21.5,2h-8.0005493C13.2234497,2.0001831,12.9998169,2.223999,13,2.5v8.0005493C13.0001831,10.7765503,13.223999,11.0001831,13.5,11h8.0006104C21.7765503,10.9998169,22.0001831,10.776001,22,10.5V2.4993896C21.9998169,2.2234497,21.776001,1.9998169,21.5,2z M21,10h-7V3h7V10z"/></svg>
										<span class="side-menu__label">Apps</span><i class="angle fa fa-angle-right"></i>
									</a>
									<ul class="slide-menu">
										<li class="side-menu-label1"><a href="javascript:void(0)">Apps</a></li>
										<li class="sub-slide">
											<a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="#"><span
													class="sub-side-menu__label">Projects</span><i
													class="sub-angle fa fa-angle-right"></i></a>
											<ul class="sub-slide-menu">
												<li><a class="sub-slide-item" asp-controller="Projects" asp-action="Index">Projects</a></li>
												<li><a class="sub-slide-item" asp-controller="ProjectsList" asp-action="Index">Projects List</a></li>
												<li><a class="sub-slide-item" asp-controller="ProjectNew" asp-action="Index">Project New</a></li>
											</ul>
										</li>
										<li class="sub-slide">
											<a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="#"><span
													class="sub-side-menu__label">Tasks</span><i
													class="sub-angle fa fa-angle-right"></i></a>
											<ul class="sub-slide-menu">
												<li><a class="sub-slide-item" asp-controller="TaskList" asp-action="Index">Task List</a></li>
											</ul>
										</li>
									</ul>
								</li>

								<li>
									<h3>Pages</h3>
								</li>
								<li class="slide">
									<a class="side-menu__item" data-bs-toggle="slide" href="#">
										<svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"  enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M19.8535156,8.1464844l-6-6C13.7597656,2.0526733,13.6326294,2,13.5,2H7C5.3438721,2.0018311,4.0018311,3.3438721,4,5v14c0.0018311,1.6561279,1.3438721,2.9981689,3,3h10c1.6561279-0.0018311,2.9981689-1.3438721,3-3V8.5C20,8.3673706,19.9473267,8.2402344,19.8535156,8.1464844z M14,3.7069702L18.2930298,8H14V3.7069702z M19,19c-0.0014038,1.1040039-0.8959961,1.9985962-2,2H7c-1.1040039-0.0014038-1.9985962-0.8959961-2-2V5c0.0014038-1.1040039,0.8959961-1.9985962,2-2h6v5.5c0,0.0001831,0,0.0003662,0,0.0005493C13.0001831,8.7765503,13.223999,9.0001831,13.5,9H19V19z"/></svg>
										<span class="side-menu__label">Pages</span><i class="angle fa fa-angle-right"></i>
									</a>
									<ul class="slide-menu">
										<li class="side-menu-label1"><a href="javascript:void(0)">Pages</a></li>
										<li class="sub-slide">
											<a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="#"><span
													class="sub-side-menu__label">Authentication</span><i
													class="sub-angle fa fa-angle-right"></i></a>
											<ul class="sub-slide-menu">
												<li><a class="sub-slide-item" asp-controller="CustomPages" asp-action="login">Sign In</a></li>
											</ul>
										</li>
										<li class="sub-slide">
											<a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="#"><span
													class="sub-side-menu__label">Error Pages</span><i
													class="sub-angle fa fa-angle-right"></i></a>
											<ul class="sub-slide-menu">
								<li><a class="sub-slide-item" asp-controller="CustomPages" asp-action="construction">UnderConstruction</a></li>
								<li><a class="sub-slide-item" asp-controller="CustomPages" asp-action="error404">404 Error</a></li>
												<li><a class="sub-slide-item" asp-controller="CustomPages" asp-action="error500">500 Error</a></li>
												<li><a class="sub-slide-item" asp-controller="CustomPages" asp-action="error501">501 Error</a></li>
											</ul>
										</li>
										<li><a asp-controller="Profile" asp-action="Index" class="slide-item">Profile</a></li>
										</ul>
								</li>
								</ul>
							<div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
									width="24" height="24" viewBox="0 0 24 24">
									<path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
								</svg>
							</div>
						</div>
					</div>
				</div>
				<!--/APP-SIDEBAR-->